<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add an outfit to your <%= @outfit.title %> outfit list</h3>
        <%= simple_form_for [@outfit, @user] do |f| %>
          <%= f.input :description, placeholder: "Enter a comment about " %>
          <%= f.association :outfit, prompt: "Select a movie", input_html: {data: {controller: "tom-select"}} %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
