<div class="container">
<div class="row">
    <div class="col-12 col-sm-6">
      <h3>Rental</h3>
      <% if @outfit.rentals.empty? %>
        <small><em class="text-muted">blabla</em></small>
      <% end %>
      <% @outfit.rentals.each do |rental| %>
        <div>
          <% rental.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(rental.created_at) %> ago</em></small>
          <p class="mb-0"><%= rental.status %></p>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3">
        <h5>Rent your Outfit</h5>
        <%= simple_form_for [@outfit[:id], @rental] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
          <%= f.input :status, placeholder: "Add your !!here..." %>

          <%= f.submit class: "btn btn-flat mt-2" %>
        <% end %>
      </div>
    </div>
  </div></div>
